In [149]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [150]:
df = pd.read_csv('20200124_ews_observations.csv')

C:\Users\maryame\miniconda3\envs\Data-cleaning\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [151]:
df.head(20)

,PatientId,ObservationDate,EwsProcedure,EWS_Total,SBP,SBP_Score,LOC,LOC_Score,SpO2,SpO2_Score,Add_O2,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
0,29,2019-05-01 13:27:50.0000000,NEWS2,0,143.0,0.0,ALERT,0,96.0,0.0,False,0.0,80,0,18,0,36.6,0
1,30,2019-05-01 15:27:44.0000000,NEWS2,3,NaN,NaN,ALERT,0,94.0,1.0,False,0.0,83,0,16,0,36.5,0
2,31,2019-05-01 15:54:27.0000000,NEWS2,1,117.0,0.0,ALERT,0,95.0,1.0,False,0.0,75,0,14,0,37.3,0
3,32,2019-05-01 16:07:27.0000000,NEWS2,0,NaN,NaN,ALERT,0,98.0,0.0,False,0.0,85,0,19,0,37.2,0
4,33,2019-05-01 17:03:16.0000000,NEWS2,0,135.0,0.0,ALERT,0,97.0,0.0,False,0.0,89,0,14,0,36.1,0
5,32,2019-05-01 18:02:29.0000000,NEWS2,0,NaN,NaN,ALERT,0,96.0,0.0,False,0.0,82,0,18,0,37.0,0
6,34,2019-05-01 19:23:49.0000000,NEWS2,0,NaN,NaN,ALERT,0,97.0,0.0,False,0.0,66,0,16,0,36.2,0
7,35,2019-05-01 21:07:36.0000000,NEWS2,0,NaN,NaN,ALERT,0,98.0,0.0,False,0.0,84,0,18,0,37.1,0
8,32,2019-05-01 21:08:05.0000000,NEWS2,0,125.0,0.0,ALERT,0,97.0,0.0,False,0.0,87,0,14,0,37.1,0
9,36,2019-05-01 21:12:11.0000000,NEWS2,2,NaN,NaN,ALERT,0,97.0,0.0,False,0.0,61,0,13,0,35.8,1
10,34,2019-05-01 21:13:21.0000000,NEWS2,1,117.0,0.0,ALERT,0,95.0,1.0,False,0.0,64,0,13,0,36.6,0
11,32,2019-05-01 23:12:50.0000000,NEWS2,0,114.0,0.0,ALERT,0,96.0,0.0,False,0.0,77,0,17,0,37.2,0
12,37,2019-05-02 00:28:57.0000000,NEWS2,0,140.0,0.0,ALERT,0,98.0,0.0,False,0.0,53,0,16,0,36.3,0
13,35,2019-05-02 00:41:07.0000000,NEWS2,2,123.0,0.0,ALERT,0,94.0,1.0,False,0.0,73,0,16,0,35.9,1
14,38,2019-05-02 00:42:59.0000000,NEWS2,1,NaN,NaN,ALERT,0,98.0,0.0,False,0.0,59,0,13,0,36.2,0
15,39,2019-05-02 00:47:03.0000000,NEWS2,1,110.0,1.0,ALERT,0,99.0,0.0,False,0.0,72,0,16,0,36.8,0
16,36,2019-05-02 00:52:23.0000000,NEWS2,3,104.0,1.0,ALERT,0,95.0,1.0,False,0.0,65,0,18,0,35.6,1
17,30,2019-05-02 01:57:16.0000000,NEWS2,6,89.0,3.0,ALERT,0,96.0,0.0,False,0.0,84,0,25,3,36.4,0
18,30,2019-05-02 03:19:01.0000000,NEWS2,7,87.0,3.0,ALERT,0,95.0,1.0,False,0.0,80,0,26,3,36.4,0
19,34,2019-05-02 03:31:55.0000000,NEWS2,1,NaN,NaN,ALERT,0,95.0,1.0,False,0.0,60,0,12,0,36.8,0

In [152]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
PatientId,29,30,31,32,33,32,34,35,32,36,34,32,37,35,38,39,36,30,30,34
ObservationDate,2019-05-01 13:27:50.0000000,2019-05-01 15:27:44.0000000,2019-05-01 15:54:27.0000000,2019-05-01 16:07:27.0000000,2019-05-01 17:03:16.0000000,2019-05-01 18:02:29.0000000,2019-05-01 19:23:49.0000000,2019-05-01 21:07:36.0000000,2019-05-01 21:08:05.0000000,2019-05-01 21:12:11.0000000,2019-05-01 21:13:21.0000000,2019-05-01 23:12:50.0000000,2019-05-02 00:28:57.0000000,2019-05-02 00:41:07.0000000,2019-05-02 00:42:59.0000000,2019-05-02 00:47:03.0000000,2019-05-02 00:52:23.0000000,2019-05-02 01:57:16.0000000,2019-05-02 03:19:01.0000000,2019-05-02 03:31:55.0000000
EwsProcedure,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2
EWS_Total,0,3,1,0,0,0,0,0,0,2,1,0,0,2,1,1,3,6,7,1
SBP,143,NaN,117,NaN,135,NaN,NaN,NaN,125,NaN,117,114,140,123,NaN,110,104,89,87,NaN
SBP_Score,0,NaN,0,NaN,0,NaN,NaN,NaN,0,NaN,0,0,0,0,NaN,1,1,3,3,NaN
LOC,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT
LOC_Score,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SpO2,96,94,95,98,97,96,97,98,97,97,95,96,98,94,98,99,95,96,95,95
SpO2_Score,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,1
Add_O2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Add_O2_Score,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
HR,80,83,75,85,89,82,66,84,87,61,64,77,53,73,59,72,65,84,80,60
HR_Score,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
RR,18,16,14,19,14,18,16,18,14,13,13,17,16,16,13,16,18,25,26,12
RR_Score,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0
TEMP,36.6,36.5,37.3,37.2,36.1,37,36.2,37.1,37.1,35.8,36.6,37.2,36.3,35.9,36.2,36.8,35.6,36.4,36.4,36.8
TEMP_Score,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0

In [153]:
#check  for blank spaces
for i in df.columns:
    print (i.isspace())

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [154]:
pd.to_datetime(df['ObservationDate'])

0        2019-05-01 13:27:50
1        2019-05-01 15:27:44
2        2019-05-01 15:54:27
3        2019-05-01 16:07:27
4        2019-05-01 17:03:16
                 ...
171731   2020-01-02 08:57:05
171732   2020-01-02 08:58:46
171733   2020-01-02 09:03:14
171734   2020-01-02 09:03:20
171735   2020-01-02 09:03:56
Name: ObservationDate, Length: 171736, dtype: datetime64[ns]

In [155]:
df.shape

(171736, 18)

In [156]:
# df.dtypes

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171736 entries, 0 to 171735
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PatientId        171736 non-null  int64
 1   ObservationDate  171736 non-null  object
 2   EwsProcedure     171736 non-null  object
 3   EWS_Total        171736 non-null  int64
 4   SBP              160949 non-null  float64
 5   SBP_Score        160949 non-null  float64
 6   LOC              171736 non-null  object
 7   LOC_Score        171736 non-null  int64
 8   SpO2             171734 non-null  float64
 9   SpO2_Score       171734 non-null  float64
 10  Add_O2           171734 non-null  object
 11  Add_O2_Score     171734 non-null  float64
 12  HR               171736 non-null  int64
 13  HR_Score         171736 non-null  int64
 14  RR               171736 non-null  int64
 15  RR_Score         171736 non-null  int64
 16  TEMP             171736 non-null  float64
 17  TEMP_Score       171736 non-null  int64
dtypes: float64(6), int64(8), object(4)
memory usage: 23.6+ MB

In [157]:
df.isnull().sum().sum() # check the total amount of NaN values in the database

21582

In [158]:
round((df.isnull().sum()*100)/len(df),2) # relative amount of NaN values in % per column

PatientId          0.00
ObservationDate    0.00
EwsProcedure       0.00
EWS_Total          0.00
SBP                6.28
SBP_Score          6.28
LOC                0.00
LOC_Score          0.00
SpO2               0.00
SpO2_Score         0.00
Add_O2             0.00
Add_O2_Score       0.00
HR                 0.00
HR_Score           0.00
RR                 0.00
RR_Score           0.00
TEMP               0.00
TEMP_Score         0.00
dtype: float64

In [159]:
#Check the columns with NaN values¶

col_nan = df[['SBP','SBP_Score' ]]
col_nan.T

,0,1,2,3,4,5,6,7,8,9,...,171726,171727,171728,171729,171730,171731,171732,171733,171734,171735
SBP,143.0,NaN,117.0,NaN,135.0,NaN,NaN,NaN,125.0,NaN,...,90.0,NaN,147.0,145.0,137.0,88.0,83.0,118.0,129.0,133.0
SBP_Score,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,3.0,NaN,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0

In [160]:
#Fill NaN values with a mean value if possible¶
df.describe () # columns where we can add the mean value instead of the NaN

,PatientId,EWS_Total,SBP,SBP_Score,LOC_Score,SpO2,SpO2_Score,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
count,171736.000000,171736.000000,160949.000000,160949.000000,171736.000000,171734.000000,171734.000000,171734.000000,171736.000000,171736.000000,171736.000000,171736.000000,171736.000000,171736.000000
mean,5174.344669,1.929537,120.688665,0.499096,0.011477,95.947407,0.355928,0.416423,79.758921,0.320253,17.263102,0.245167,36.642783,0.083628
std,3613.339400,1.890388,19.599943,0.813013,0.185201,3.777995,0.690071,0.812060,17.467517,0.600285,3.364965,0.693101,0.525958,0.284159
min,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,3.000000,0.000000
25%,2263.000000,0.000000,107.000000,0.000000,0.000000,95.000000,0.000000,0.000000,67.000000,0.000000,16.000000,0.000000,36.300000,0.000000
50%,4764.000000,1.000000,119.000000,0.000000,0.000000,96.000000,0.000000,0.000000,78.000000,0.000000,17.000000,0.000000,36.600000,0.000000
75%,7549.000000,3.000000,133.000000,1.000000,0.000000,98.000000,1.000000,0.000000,90.000000,1.000000,19.000000,0.000000,36.900000,0.000000
max,20532.000000,19.000000,234.000000,3.000000,3.000000,100.000000,3.000000,2.000000,252.000000,3.000000,116.000000,3.000000,50.000000,3.000000

In [161]:
df['SBP'].fillna(value=df['SBP'].mean(), inplace=True)  # code for NaN => mean value

df['SBP_Score'].fillna(value=df['SBP_Score'].mean(), inplace=True)

In [162]:
df.isnull().sum().sum() # check the total amount of NaN values in the dataset

8

In [163]:
# get rid of the rest of the nan valules

df.fillna('Unknown', inplace=True)

In [164]:
df.isnull().sum().sum()

0

In [165]:
df.shape # Amount of rows (and columns) after dropping NaN values

(171736, 18)

In [166]:
df = df.set_index('ObservationDate')
df.head()

,PatientId,EwsProcedure,EWS_Total,SBP,SBP_Score,LOC,LOC_Score,SpO2,SpO2_Score,Add_O2,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
ObservationDate,,,,,,,,,,,,,,,,,
2019-05-01 13:27:50.0000000,29,NEWS2,0,143.000000,0.000000,ALERT,0,96,0,False,0,80,0,18,0,36.6,0
2019-05-01 15:27:44.0000000,30,NEWS2,3,120.688665,0.499096,ALERT,0,94,1,False,0,83,0,16,0,36.5,0
2019-05-01 15:54:27.0000000,31,NEWS2,1,117.000000,0.000000,ALERT,0,95,1,False,0,75,0,14,0,37.3,0
2019-05-01 16:07:27.0000000,32,NEWS2,0,120.688665,0.499096,ALERT,0,98,0,False,0,85,0,19,0,37.2,0
2019-05-01 17:03:16.0000000,33,NEWS2,0,135.000000,0.000000,ALERT,0,97,0,False,0,89,0,14,0,36.1,0

In [176]:
df['PatientId'].nunique() # amount of unique patients

10136

In [167]:
#Check the unique values per column
for i in df.columns:
    print(df[i].unique())

[   29    30    31 ... 20530 20531 20532]
['NEWS2']
[ 0  3  1  2  6  7  5  4  9 10  8 11 12 19 13 14 15]
[143.         120.68866535 117.         135.         125.
 114.         140.         123.         110.         104.
  89.          87.         137.         112.         146.
  94.         127.          92.         201.         191.
  73.         102.         122.         106.         130.
 142.         189.         157.          97.         129.
 109.         121.         152.         132.         147.
 134.         158.         148.         111.         145.
 141.          85.         118.         133.         156.
 149.         124.         113.          93.         131.
 108.         119.         144.         139.         126.
 128.         105.         115.         103.          99.
  88.          98.         138.         136.         167.
  91.         164.          90.         100.         116.
 150.         153.         120.         107.         101.
  95.         154.          86.         155.         173.
  82.          84.         165.         183.         192.
 184.          96.         180.         172.         168.
 198.          68.         160.         202.         159.
 182.         169.         151.          70.          58.
 161.         175.         163.         177.         181.
 185.         166.           0.          60.          72.
  64.         179.          66.         174.         193.
 176.         190.         170.          78.          62.
  81.          54.          80.          76.          74.
  69.          77.          71.         211.          79.
 199.         210.         204.         171.         162.
  83.          75.         188.         178.         195.
 203.         234.          56.         194.         206.
 186.         187.         205.         196.         200.
  53.          50.         216.         208.         223.
 209.         197.         213.         220.         217.
  65.         225.          67.         219.          52.
  45.         214.          63.          61.          55.
 207.         233.         232.         215.          48.
 218.         212.          40.        ]
[0.         0.49909599 1.         3.         2.        ]
['ALERT' 'UNRESPONSIVE' 'NEW_CONFUSION' 'VOICE' 'PAIN']
[0 3]
[96.0 94.0 95.0 98.0 97.0 99.0 100.0 93.0 92.0 88.0 90.0 91.0 89.0 86.0
 85.0 87.0 9.0 82.0 0.0 21.0 1.0 40.0 84.0 17.0 79.0 83.0 4.0 2.0 80.0
 78.0 81.0 24.0 28.0 3.0 10.0 32.0 76.0 65.0 23.0 70.0 72.0 74.0 12.0 18.0
 75.0 68.0 69.0 77.0 16.0 5.0 6.0 36.0 66.0 'Unknown' 71.0 7.0 46.0 73.0
 20.0 67.0 22.0 19.0 60.0 56.0 50.0]
[0.0 1.0 2.0 3.0 'Unknown']
[False True 'Unknown']
[0.0 2.0 'Unknown']
[ 80  83  75  85  89  82  66  84  87  61  64  77  53  73  59  72  65  60
  70  54  55  67  90  79  86  44  91  58  68  56  57  63  62 101 108  74
  78  96  94  51  76  69 104  81  52  95  88  92  43  71  49  93  50  46
  38 100  99  35 111  97 114 112 127 123 120 103 121 115 119 106 102  48
 155 136 142 107 113 124 105 116  47  98 126  45 110 118 122 109 150 133
 129 132 117  40  41 130 125  42 137 140 147 139 161 153 156 174 141 152
 154 160 169 158 144 128 149 138 177 172 148 143  25 135 182 134 178  39
 131 180 176 168 186  37  20 159 175 171 151 166 170 164 167 162 145  36
 146  31  30  29  28 189 173  33  34 187 181 163 200 191 192 188 198 165
 194 157  32 199 183 190 184  26 239  27  22 185 208  23 196 179 252 210]
[0 1 3 2]
[ 18  16  14  19  13  17  25  26  12  20  21  15  11  10  22  24  40  31
  38  37  42  27  29  35  28  30  39  23   9   0   8  74  58   6  45  36
  32  33  66  95   7  83  61   2  99   1  79  34  89  84  93   3  60  96
  97 101 102   5  55  53  52  56  71  85  67  50  41  44  87 116  65  78
  72  77  43 103  46  80  88  94  98  49]
[0 3 2 1]
[36.6 36.5 37.3 37.2 36.1 37.  36.2 37.1 35.8 36.3 35.9 36.8 35.6 36.4
 35.4 36.7 36.  35.7 36.9 37.5 37.8 37.7 37.9 38.1 37.4 37.6 38.  38.3
 35.3 38.5 38.4 35.5 42.  38.9 38.2 35.2 39.2 39.  38.7 39.6 35.  35.1
 39.9 38.6 38.8 39.5 39.4 39.3  6.8 34.8  6.5  3.2 39.1 39.7 27.8  3.
  6.1 24.4 34.5 50.  40.4 40.5 40.  34.7 34.4 40.8 34.9 41.  34.6  3.1
 34.2  8.3  3.6 33.9 40.1 39.8 33.  34.3]
[0 1 2 3]

In [168]:
#Check datatypes and transform string values into integers¶
df.dtypes

PatientId         int64
EwsProcedure     object
EWS_Total         int64
SBP             float64
SBP_Score       float64
LOC              object
LOC_Score         int64
SpO2             object
SpO2_Score       object
Add_O2           object
Add_O2_Score     object
HR                int64
HR_Score          int64
RR                int64
RR_Score          int64
TEMP            float64
TEMP_Score        int64
dtype: object

In [174]:
# Data consolidation 

for i in df.columns:
    if df[i].dtype == object:
        df[i] = df[i].str.upper()
df.head()

,PatientId,EwsProcedure,EWS_Total,SBP,SBP_Score,LOC,LOC_Score,SpO2,SpO2_Score,Add_O2,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
ObservationDate,,,,,,,,,,,,,,,,,
2019-05-01 13:27:50.0000000,29,0,0,143.000000,0.000000,0,0,NaN,NaN,NaN,NaN,80,0,18,0,36.6,0
2019-05-01 15:27:44.0000000,30,0,3,120.688665,0.499096,0,0,NaN,NaN,NaN,NaN,83,0,16,0,36.5,0
2019-05-01 15:54:27.0000000,31,0,1,117.000000,0.000000,0,0,NaN,NaN,NaN,NaN,75,0,14,0,37.3,0
2019-05-01 16:07:27.0000000,32,0,0,120.688665,0.499096,0,0,NaN,NaN,NaN,NaN,85,0,19,0,37.2,0
2019-05-01 17:03:16.0000000,33,0,0,135.000000,0.000000,0,0,NaN,NaN,NaN,NaN,89,0,14,0,36.1,0

In [175]:
#Transforming text and categorical attributes¶

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder ()

for i in df.columns:
    if df[i].dtype == object:
        df[i] = encoder.fit_transform(df[i])
df.head()

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [ ]:

df.drop(['EwsProcedure'], axis=1, inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df[ObservationDate].shape()

In [ ]:
# df.describe()

In [ ]:
df.EwsProcedure.unique()

In [ ]:
df.LOC.unique()

In [ ]:
df.LOC.value_counts()

In [ ]:
df.EWS_Total.unique()

In [ ]:
df.EWS_Total.value_counts()

In [ ]:
df.SBP.unique()

In [ ]:
df.TEMP.unique()

In [ ]:
df.Add_O2.unique()

In [ ]:
df.Add_O2 = df.Add_O2.astype("category")

In [ ]:
df.Add_O2.replace(to_replace= ["Yes", "No", "Unknown"], value = [1,0,2], inplace = True)

In [ ]:
df.Add_O2.unique()

In [ ]:
df.Add_O2.value_counts()

## Analysing each contribution parameter to the total EWS score

In [ ]:
df.SBP_Score.unique()

In [ ]:
df.SBP_Score.value_counts()

In [ ]:
df.LOC_Score.unique()

In [ ]:
df.SpO2_Score.unique()

In [ ]:
df.SpO2_Score.value_counts()

In [ ]:
df.Add_O2_Score.unique()

In [ ]:
df.Add_O2_Score.value_counts()

In [ ]:
df.Add_O2_Score.value_counts()

In [ ]:
df.HR_Score.unique()

In [ ]:
df.HR_Score.value_counts()

In [ ]:
df.RR_Score.unique()

In [ ]:
df.RR_Score.value_counts()

In [ ]:
df.TEMP_Score.unique()

In [ ]:
df.TEMP_Score.value_counts()